{% extends "base.html" %}

{% block body %}
<br>
<div class="container">
  <div class="row">
    <div class="col-md-9">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            <div class="col-md-12 lead">Developer's profile<hr></div>
          </div>
          <div class="row">
			<div class="col-md-4 text-center">
              <img class="img-circle avatar avatar-original" style="-webkit-user-select:none;
              display:block; margin:auto;" src="https://i.imgur.com/hjeAyMf.jpg">
            </div>
            <div class="col-md-8">
              <div class="row">
                <div class="col-md-12">
                  <h1 class="only-bottom-margin">Aalok Kumar</h1>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <span class="text-muted">Email:</span> alokyadav495@gmail.com<br>
                  <span class="text-muted">Birth date:</span> 25.02.1996<br>
                  <span class="text-muted">Gender:</span> male<br><br>
                  <small class="text-muted">Created: 29.03.2018</small>
                </div>
                <div class="col-md-6">
                  <div class="activity-mini">
                    <i class="glyphicon glyphicon-comment text-muted"></i> 500
                  </div>
                  <div class="activity-mini">
                    <i class="glyphicon glyphicon-thumbs-up text-muted"></i> 1500
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
             <br>
                <br>
              Casey Stengel (1890–1975) was an American Major League Baseball (MLB) right fielder, and a manager for the New York Yankees championship teams of the 1950s and for the New York Mets in the early 1960s. He was an outfielder for the 1912 Brooklyn Dodgers, and played on their 1916 National League ...

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<br>
<div class="container">
  <div class="row">
    <div class="col-md-9">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            <div class="col-md-12 lead">Developer's profile<hr></div>
          </div>
          <div class="row">
			<div class="col-md-4 text-center">
              <img class="img-circle avatar avatar-original" style="-webkit-user-select:none;
              display:block; margin:auto;" src="https://i.imgur.com/KgBIwhQ.jpg">
            </div>
            <div class="col-md-8">
              <div class="row">
                <div class="col-md-12">
                  <h1 class="only-bottom-margin">Monisha Wamankar</h1>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <span class="text-muted">Email:</span> aman.little02@gmail.com<br>
                  <span class="text-muted">Birth date:</span> 23.03.1997<br>
                  <span class="text-muted">Gender:</span> female<br><br>
                  <small class="text-muted">Created: 28.03.2018</small>
                </div>
                <div class="col-md-6">
                  <div class="activity-mini">
                    <i class="glyphicon glyphicon-comment text-muted"></i> 500
                  </div>
                  <div class="activity-mini">
                    <i class="glyphicon glyphicon-thumbs-up text-muted"></i> 1500
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
                <br>
                <br>
              Casey Stengel (1890–1975) was an American Major League Baseball (MLB) right fielder, and a manager for the New York Yankees championship teams of the 1950s and for the New York Mets in the early 1960s. He was an outfielder for the 1912 Brooklyn Dodgers, and played on their 1916 National League ...

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}